<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.rocksolidfitness"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.rocksolidfitness.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.rocksolidfitness.SessionDetails"
            android:label="@string/title_activity_session_detail">
        </activity>
        <activity
            android:name="com.rocksolidfitness.WeekViewActivity"
            android:label="@string/title_activity_weekly_view">
        </activity>
        <activity
            android:name="com.rocksolidfitness.ListViewMultiChartActivity"
            android:label="@string/title_activity_reporting">
        </activity>
        <activity
            android:name="com.rocksolidfitness.BlankActivity"
            android:label="@string/title_activity_blank">
        </activity>
    </application>

</manifest>
